.footer {
	&__wrapper {
		.row-flex();
		justify-content: space-between;
		padding-top: 40px;
		border-top: 1px solid @grey-light;
	}

	&__info {
		.col();
		.size(4);
		.size-md(12);

		max-width: 320px;

		.md-block({
			max-width: 100%;
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin-bottom: 30px;
		});

		.sm-block({
			flex-direction: column;
			align-items: flex-start;
		});
	}

	&__logo {
		.sm-block({
			max-width: 188px;
		});
	}

	&__nav {
		.col();
		.size(8);
		.size-md(12);
		.size-sm(8);
		.size-sm(12);

		display: flex;
		justify-content: space-between;

		.sm-block({
			margin: 0 auto;
			flex-wrap: wrap;
		});

		&Item {
			max-width: 200px;

			.sm-block({
				width: 45%;
			});

			.xs-block({
				width: 100%;
				margin-bottom: 20px;
			});

			&--contacts {
				.footer__title {
					.sm-block({
						display: none;
					});
				}

				.sm-block({
					max-width: 100%;
					width: 100%;
					order: -1;
					text-align: center;
				});

				.xs-block({
					align-items: flex-start;
					text-align: left;
				});
			}
		}

		&Info {
			margin-bottom: 26px;
			color: @dark-blue;

			a {
				font-size: 24px;
				line-height: 30px;
				color: @orange;
			}
		}
	}

	&__details {
		margin-top: 30px;

		.md-block({
			margin-top: 0px;
		});

		.sm-block({
			margin-top: 30px;
		});
	}

	&__caption {
		font-size: 14px;
		line-height: 17px;
		color: @grey;
	}

	&__list {
		margin-top: 6px;
	}

	&__item {
		margin-bottom: 10px;
	}

	&__social {
		margin-top: 30px;

		.md-block({
			margin-top: 0;
		});
		
		.sm-block({
			margin-top: 30px;
		});
	}

	&__title {
		color: @grey-light;
		font-weight: 700;
		text-transform: uppercase;
		letter-spacing: 0.085em;
		margin-bottom: 20px;
	}
}