.formBlock {
	width: 100%;
	max-width: 1310px;
	margin: 100px auto;
	padding: 50px 110px 50px 70px;
	display: flex;
	justify-content: space-between;
	background-color: @grey-bg;
	border-radius: 10px;
	border: 1px solid @grey-border;

	&__title {
		max-width: 646px;
		margin-right: 50px;

		span {
			color: @orange;
		}
	}

	&__body {
		max-width: 430px;
	}
}