.proposition {
	margin: 100px 0;
	
	&__wrapper {
		max-width: 1090px;
		margin: 0 auto;
		padding: 40px 50px;
		border: 1px solid @grey-border;
		background-color: @grey-bg;
		border-radius: 10px;
		position: relative;

		.md-block({
			text-align: center;
		});
	}

	&__img {
		position: absolute;
		right: 30px;
		top: 0;

		.md-block({
			position: static;
			margin-bottom: 16px;
		});
	}

	&__title {
		max-width: 600px;
		font-family: "Golos";
		font-size: 30px;
		line-height: 36px;
		font-weight: 500;
		margin-bottom: 30px;

		.md-block({
			margin: 0 auto 6px;
		});
	}
}