.table {
	text-align: center;

	.sm-block({
		min-width: 520px;
	});

	th {
		text-align: center;
		font-family: @font-golos;
		font-weight: 500;
		font-size: 22px;
		line-height: 26px;
		padding: 18px 100px;
		background-color: #DCDCDC;
		position: relative;

		.sm-block({
			font-size: 16px;
			line-height: 19px;
			padding: 18px 40px;
		});

		&::after {
			content: '';
			display: block;
			background: radial-gradient(#FD4C00 0%,  #DCDCDC 90%);
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			height: 2px;
		}
	}

	tr {
		td {
			padding: 12px 0px;
			border-radius: 5px;
		}

		&:nth-child(odd) {
			background-color: @grey-bg;

			td {
				border: 2px solid #DCDCDC;
			}
		}
	}

	
}