.advantage {
	padding: 20px 0;

	&__wrapper {
		display: flex;
		justify-content: space-between;
		align-items: flex-end;

		.lg-block({
			flex-wrap: wrap;
		});

		.sm-block({
			position: relative;
		});
	}

	&__title {
		max-width: 480px;
	}

	&__text {
		margin-top: 30px;
	}

	&__dialog {
		display: flex;
		align-items: flex-end;
		margin-right: 110px;

		.lg-block({
			margin: 50px auto 30px;
		});

		&Img {
			width: 100px;
			height: 100px;

			.sm-block({
				width: 55px;
				height: 55px;
				position: absolute;
				left: 0;
				top: 450px;
			});
		}

		&Message {
			width: 100%;
			max-width: 514px;
			min-height: 150px;
			padding: 20px;
			padding-left: 114px;
			margin-left: 36px;
			box-sizing: border-box;
			background: url(../img/advantage-dialog.svg) no-repeat right center / contain;

			.sm-block({
				margin-left: 0;
			});

			.xs-block({
				max-width: 284px;
				min-height: 176px;
				padding: 14px 14px 14px 70px;
				background-image: url(../img/advantage-dialog-mobile.svg)
			});
		}

		&Head {
			display: flex;
			justify-content: space-between;
			align-items: flex-end;
		}

		&Time {
			font-size: 14px;
			line-height: 17px;
			color: #848498;

			&--desktop {
				.sm-block({
					display: none;
				});
			}

			&--mobile {
				display: none;

				.sm-block({
					display: block;
					font-size: 10px;
					line-height: 12px;
					margin-top: 10px;
				});
			}
		}

		&Text {
			margin-top: 30px;
			font-size: 18px;
			line-height: 22px;

			.xs-block({
				margin-top: 14px;
				font-size: 14px;
				line-height: 18px;
			});
		}
	}

	&__list {
		display: flex;
		flex-wrap: wrap;
		margin: 90px 50px 0 auto;
		max-width: 700px;

		.sm-block({
			margin: 0 auto;
		});
	}

	&__item {
		.size(6);
		.size-sm(10);

		margin-bottom: 72px;
		padding-right: 10px;

		.sm-block({
			padding-left: 74px;
			margin-bottom: 30px;
		});

		&Title {
			font-family: @font-golos;
			font-size: 46px;
			line-height: 60px;
			color: @orange;

			.md-block({
				font-size: 40px;
				line-height: 54px;
			});

			.sm-block({
				font-size: 30px;
				line-height: 36px;
			});
		}

		&Text {
			margin-top: 12px;

			.sm-block({
				margin-top: 6px;
				font-size: 13px;
			});
		}
	}
}