.intro {
	padding: 100px 0 250px;
	background: url(../img/main-intro-bg.jpg) no-repeat center bottom / 90%;
	position: relative;
	z-index: 1;

	.md-block({
		padding: 50px 0 250px;
		background-size: cover
	});

	&__video {
		display: flex;
		justify-content: center;
		align-items: center;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: -1;
	}

	&__wrapper {
		display: flex;
		justify-content: space-between;

		.md-block({
			justify-content: center;
		});
	}

	&__title {
		text-transform: uppercase;

		span {
			display: block;
			text-transform: none;
			font-size: 38px;
			line-height: 45px;

			.md-block({
				font-size: 24px;
				line-height: 28px;
			});

			.sm-block({
				font-size: 18px;
				line-height: 21px;
			});
		}
	}

	&__list {
		margin-top: 66px;

		.md-block({
			margin-top: 40px;
		});
	}

	&__offer {
		margin-right: 80px;

		.lg-block({
			display: none;
		});

		&Item {
			max-width: 320px;
			padding: 15px 20px;
			background: @grey-bg;
			border-radius: 10px;
			margin-bottom: 10px;
			box-sizing: border-box;
		}

		&Text {
			margin: 20px 0 14px;
		}

		&Btn {
			width: 100%;
		}
	}
}