.review {
	display: flex;
	align-items: flex-end;

	&[data-service="0"] {
		.review__service {
			color: @orange;
			border-color: @orange;
		}
	}

	&[data-service="1"] {
		.review__service {
			color: #9D00FD;
			border-color: #9D00FD;
		}
	}

	&[data-service="2"] {
		.review__service {
			color: #FD0098;
			border-color: #FD0098;
		}
	}

	&[data-service="3"] {
		.review__service {
			color: #0065FD;
			border-color: #0065FD;
		}
	}

	&[data-service="4"] {
		.review__service {
			color: #02711A;
			border-color: #02711A;
		}
	}

	&[data-service="5"] {
		.review__service {
			color: #2400FF;
			border-color: #2400FF;
		}
	}

	&[data-score="1"] {
		.review__scoreImg {
			background-image: url(../img/review-score-1.png);
		}
	}

	&[data-score="2"] {
		.review__scoreImg {
			background-image: url(../img/review-score-2.png);
		}
	}

	&[data-score="3"] {
		.review__scoreImg {
			background-image: url(../img/review-score-3.png);
		}
	}

	&[data-score="4"] {
		.review__scoreImg {
			background-image: url(../img/review-score-4.png);
		}
	}

	&__user {
		width: 200px;
	}

	&__picture {
		width: 100px;
		height: 100px;
		margin-bottom: 20px;
	}

	&__name {
		font-size: 20px;
		line-height: 24px;
		font-weight: 500;
	}

	&__service {
		margin-top: 10px;
		padding: 10px;
		font-size: 14px;
		line-height: 18px;
		border: 1px solid transparent;
		border-radius: 10px;
		color: @orange;
		border-color: @orange;
	}

	&__message {
		display: flex;
		flex-direction: column;
		width: 514px;
		min-height: 300px;
		padding: 20px 90px;
		padding-left: 120px;
		background: url(../img/review-message.svg) no-repeat left top / contain;
	}

	&__text {
		margin-top: 30px;
	}

	&__bottom {
		margin-top: auto;
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
	}

	&__original {
		max-width: 112px;
		font-size: 14px;
		color: @orange;
		text-decoration: underline;
	}

	&__score {
		display: flex;
		align-items: flex-end;

		&Img {
			width: 55px;
			height: 55px;
			margin-left: 10px;
			border-radius: 50%;
			background: no-repeat center / contain;
		}
	}
}