.reviews {
	margin: 100px 0;

	.sm-block({
		margin: 50px 0;
	});
	
	&__header {
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
	}

	&__info {
		max-width: 680px;
	}

	&__text {
		margin-top: 30px;
		max-width: 450px;
	}

	&__controls {
		&--desktop {
			.sm-block({
				display: none;
			});
		}

		&--mobile {
			display: none;

			.sm-block({
				display: flex;
				justify-content: flex-end;
			});
		}
	}

	&__slider {
		max-width: 790px;
		margin: 72px auto 120px;

		.sm-block({
			margin-bottom: 20px;
		});
	}

	&__dots {
		.sm-block({
			display: none;
		});
	}
}