.why {
	padding-bottom: 30px;

	&__wrapper {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	&__info {
		max-width: 430px;
	}

	&__text {
		margin-top: 30px;

		span {
			font-weight: 500;
		}
	}

	&__list {
		margin-left: auto;
		margin-top: 74px;
		margin-right: 100px;
		display: flex;
		flex-wrap: wrap;
		max-width: 650px;
		gap: 10px;

		.md-block({
			max-width: 100%;
			margin-right: 0;
		});

		.sm-block({
			margin-top: 40px;
			flex-wrap: nowrap;
			overflow-x: scroll;
			padding-bottom: 10px;
		});
	}

	&__item {
		display: flex;
		flex-direction: column;
		width: 100%;
		max-width: 320px;
		padding: 16px 20px;
		box-sizing: border-box;
		background-color: @grey-bg;
		border-radius: 10px;

		.sm-block({
			min-width: 234px;
		});

		&Text {
			margin-top: 20px;
			color: @dark-blue;
		}

		&Img {
			margin-top: auto;
			display: flex;
			justify-content: flex-end;
		}
	}
}