.banner {
	background: @grey-bg url(../img/banner-bg.jpg) no-repeat right center / cover;
	margin: 50px 40px 0;
	border-radius: 20px;

	.llg-block({
		background-position: -80px center;
	});

	.md-block({
		max-width: 600px;
		margin: 40px auto 0;
		background-image: url(../img/banner-bg-mobile.svg);
		background-position: right bottom;
		background-size: 60%;
	});

	.sm-block({
		max-width: 100%;
		margin: 40px 15px 0;
	});

	&--extended {
		.banner__personMessage {
			flex-direction: column;
			align-items: flex-start;
			background-image: url(../img/banner-message-extended.svg);
			padding-top: 24px;
			padding-left: 30px;
			padding-right: 56px;

			.md-block({
				background-image: url(../img/banner-message-extended-mobile.svg);
				min-width: 280px;
				padding-right: 20px;
				padding-left: 20px;
			});

			span {
				font-family: @font-golos;
				font-size: 30px;
				line-height: 36px;
				color: @orange;
				margin-bottom: 14px;
			}
		}
	}

	.container {
		padding-right: 0;
	}

	&__wrapper {
		display: flex;

		.lg-block({
			flex-direction: column;
		});
	}

	&__info {
		padding: 40px 0;
		max-width: 470px;

		.sm-block({
			padding: 20px 0;
		});

		.xs-block({
			padding-right: 15px;
		});
	}

	&__caption {
		color: @grey;
		margin-bottom: 20px;
	}

	&__title {
		font-size: 30px;
		line-height: 36px;
	}

	&__list {
		margin-top: 40px;
	}

	&__person {
		display: flex;
		align-items: flex-end;
		margin: 0 auto;
		position: relative;

		.llg-block({
			margin-right: 0;
		});

		.lg-block({
			margin-top: -200px;
		});

		.md-block({
			margin-top: 200px;
			margin-right: auto;
		});

		.xs-block({
			margin-right: 15px;
		});

		&Img {
			margin-bottom: -4px;
			position: relative;

			.sm-block({
				max-width: 240px;
			});
		}

		&Message {
			display: flex;
			align-items: center;
			min-width: 330px;
			min-height: 130px;
			padding: 28px 65px 28px 20px;
			box-sizing: border-box;
			font-size: 16px;
			line-height: 20px;
			color: @dark-blue;
			background: url(../img/banner-message.svg) no-repeat center / contain;
			transform: translate(-100%, -45%);
			position: absolute;
			top: 50%;
			left: 0;

			.md-block({
				min-width: 240px;
				min-height: 150px;
				padding: 25px 15px 40px;
				font-size: 15px;
				background-image: url(../img/banner-message-mobile.svg);
				transform: translate(-50%, -100%);
				top: 0;
				left: 40%;
			});

			.sm-block({
				min-width: 260px;
				min-height: 180px;
				left: 30%;
			});

			.xxs-block({
				left: 46%;
			});
		}

		&Info {
			max-width: 210px;
			padding-bottom: 28px;

			.sm-block({
				position: absolute;
				z-index: 1;
				left: -30%;
			});

			.xs-block({
				left: -20%;
			});

			.xxs-block({
				left: -10%;
			});
		}

		&Title {
			font-size: 15px;
			font-family: @font-golos;
			font-weight: 500;
			color: @dark-blue;
			margin-bottom: 10px;
		}

		&Text {
			font-size: 14px;
			line-height: 17px;
			color: #686980;
		}
	}
}