.pricing {
	margin: 84px 0;

	.sm-block({
		margin: 60px 0;
	});

	&__head {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0 100px;
		margin-bottom: 80px;

		.lg-block({
			padding: 0 60px;
		});

		.md-block({
			padding: 0 30px;
			margin-bottom: 40px;
		});

		.sm-block({
			flex-direction: column;
		});

		&--single {
			.pricing__title {
				max-width: 100%;
			}
		}
	}

	&__title {
		max-width: 460px;
		font-size: 30px;
		line-height: 36px;
	}

	&__info {
		max-width: 460px;
		margin-left: 40px;

		.sm-block({
			margin-top: 30px;
			margin-left: 0;
		});
	}

	&__table {
		margin: 0 auto;
	}
}