.promo {
	margin: 120px 0;

	.md-block({
		margin: 80px 0;
	});

	&--mobile {
		display: none;

		.md-block({
			display: block;
		});
	}

	&__wrapper {
		.row-flex();

		align-items: flex-start;

		.llg-block({
			justify-content: center;
		});
	}

	&__item {
		.col();
		.size(6);
		.size-llg(7);
		.size-lg(8);
		.size-md(9);
		.size-xs(12);

		.llg-block({
			margin-bottom: 20px;
		});

		.md-block({
			&:nth-child(2) {
				display: none;
			}
		});

		padding: 30px 220px 40px 40px;
		background: @grey-bg no-repeat right center / contain;
		border-radius: 10px;

		.md-block({
			padding: 20px;
			text-align: center;
		});

		&--evaluation {
			background-image: url(../img/promo-left-bg.png);
			background-position: 150%;

			.md-block({
				background-image: none;
			})
		}

		&--gift {
			background-color: #333347;
			background-image: url(../img/promo-right-bg.png);
			background-position: right top;
			background-size: 320px;
			color: @white;

			.md-block({
				background-image: none;
			});

			.promo__img {
				.md-block({
					height: 260px;
				});
			}

			.promo__text {
				max-width: 320px;
			}

			.promo__button {
				margin-top: 60px;

				.md-block({
					margin-top: 30px;
				});
			}
		}

		&--equipment {
			background-image: url(../img/promo-left-bg.png);
			background-position: 130%;

			.md-block({
				background-image: none;
			})
		}

		&--cleaning {
			background-image: url(../img/promo-cleaning-bg.png);

			.md-block({
				background-image: none;
			});

			.promo__text {
				max-width: 330px;

				.md-block({
					margin: 30px auto 0;
				});
			}

			.promo__img {
				.sm-block({
					text-align: right;
					margin-right: -20px;
				});
			}
		}

		&--advice {
			width: 100% !important;
			max-width: 1090px !important;
			padding-right: 490px;
			margin: 0 auto;

			background-image: url(../img/promo-left-bg.png);
			background-position-x: 90%;

			.md-block({
				background-image: none;
			});
		}
	}

	&__title {
		font-size: 30px;
		line-height: 36px;

		span {
			color: @orange;
		}
	}

	&__text {
		margin-top: 24px;

		.sm-block({
			margin-top: 14px;
		});
	}

	&__img {
		display: none;

		.md-block({
			display: block;
		});
	}

	&__caption {
		display: none;

		.xs-block({
			display: block;
			margin-top: 10px;
			color: #B1AFAF;
		});
	}

	&__button {
		margin-top: 40px;

		.md-block({
			margin-top: 0px;
		});

		.xs-block({
			width: 100%;
			max-width: 100%;
		});
	}
}