.single {
	&__head {
		&Wrapper {
			display: flex;
			align-items: flex-end;

			.md-block({
				flex-direction: column;
				align-items: center;
			});

			.sm-block({
				align-items: flex-start;
			});
		}

		&Info {
			padding: 0 60px;

			.md-block({
				padding: 0;
			});
		}

		&Text {
			margin-bottom: 22px;
		}

		&--cleaning {
			.single__headWrapper {
				justify-content: space-between;
				
				.lg-block({
					flex-direction: column;
					align-items: flex-start;
				});
			}

			.single__title {
				.lg-block({
					max-width: 90%;
					margin-bottom: 30px;
				});

				.xs-block({
					max-width: 100%;
				});
			}
		}
	}

	&__title {
		font-size: 60px;
		line-height: 72px;
		max-width: 664px;

		.md-block({
			max-width: 100%;
			margin-bottom: 30px;
		});
	}
}