.steps {
	margin: 100px 0 90px;

	.sm-block({
		margin: 80px 0 60px;
	});

	&--fw {
		.steps__mainTitle {
			max-width: 100%;
		}

		.steps__list {
			max-width: 100%;
			margin-top: 70px;

			.sm-block({
				margin-top: 30px;
			});
		}

		.steps__item {
			.size(3);
			.size-llg(4);
			.size-md(6);
			.size-xs(12);
		}
	}

	&__head {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 30px;

		.lg-block({
			flex-direction: column;
			align-items: flex-start;
		});

		.steps__mainTitle {
			max-width: 540px;
		}
	}

	&__mainTitle {
		max-width: 540px;
		margin-bottom: 30px;
	}

	&__mainText {
		max-width: 490px;
	}

	&__list {
		.row-flex();
		
		margin-left: auto;
		margin-top: 40px;
		max-width: 980px;
		justify-content: flex-end;

		.md-block({
			justify-content: space-between;
		});
	}

	&__item {
		.col();
		.size(4);
		.size-md(5);
		.size-xs(12);

		margin-bottom: 50px;

		.sm-block({
			margin-bottom: 40px;
		});
	}

	&__order {
		width: 60px;
		height: 60px;
		font-size: 30px;
		font-family: @font-golos;
		line-height: 60px;
		text-align: center;
		color: @white;
		background-color: @orange;
		border-radius: 50%;

		.sm-block({
			width: 40px;
			height: 40px;
			font-size: 22px;
			line-height: 40px;
		});
	}

	&__title {
		margin-top: 30px;
		margin-bottom: 14px;
		font-family: 22px;
		line-height: 26px;
		padding-right: 60px;

		.sm-block({
			margin-top: 20px;
			font-size: 16px;
		});
	}

	&__text {
		padding-right: 30px;

		span {
			font-weight: 500;
		}
	}

	&__button {
		margin-top: 24px;
	}
}